{% extends 'layout.html' %}

{% from 'tables.html' import checkboxTable, dictionaryInputTable %}

{% block body %}
    <h1>{{ emailid }}. Email from {{ fromaddress }}</h1>

    <h3>Send Bulk Email</h3>

    <form method="POST" action="{{ url_for('sendBulkEmail') }}">
        <table>
            <tr>
                <td>Variations:</td>

                <td>{{ checkboxTable(variationstats, 'variationid') }}</td>
            </tr>

            <tr>
                <td>Locales:</td>

                <td>{{ checkboxTable(subscriberlocalestats, 'locale') }}</td>
            </tr>

            <tr>
                <td>Example Properies:</td>

                <td>{{ exampleproperties }}</td>
            </tr>

            <tr>
                <td>Properties:</td>

                <td>{{ dictionaryInputTable('properties', propertyCount) }}</td>
            </tr>

            <tr>
                <td>Maximum Subscriber Count:</td>

                <td>
                    <input type="text" name="subscribercount" maxlength="20" required
                           pattern="[0-9]*" title="must be a number"
                           value="{{ subscribercount }}" {{ 'disabled ' if subscribercount == 0 }} />
                </td>
            </tr>
        </table>

        <p>
            Counts does not include unsubscribed or response report sent subscribers but emails may have been
            sent to them, before.
        </p>

        <p>
            The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many
            emails to the queue can take few minutes.
        </p>

        <strong>{{ message }}</strong>

        <p>
            <input type="submit" value="Send Bulk Email" {{ 'disabled ' if subscribercount == 0 }} />
        </p>
    </form>

    <p>
        <a href="{{ url_for('newEmail') }}">Add New Email</a>
    </p>
{% endblock %}
