{% extends 'layout.html' %}

{% from 'tables.html' import table, checkboxTable, dictionaryInputTable %}

{% block body %}
    <h1>Send {{ email['name'] }} from {{ email['fromaddress'] }}</h1>

    <form method="POST" action="{{ url_for('sendBulkEmail', **email) }}">
        <table>
            <tr>
                <td>Locales:</td>

                <td>{{ table(subscriberLocales, ('fromaddress', 'emailid')) }}</td>
            </tr>

            <tr>
                <td>Variations:</td>

                <td>{{ table(emailVariations, 'variationid', ('fromaddress', 'emailid'), (),
                             maxSubscriber == 0) }}</td>
            </tr>

            <tr>
                <td>Example Properies:</td>

                <td>{{ exampleProperties }}</td>
            </tr>

            <tr>
                <td>Properties:</td>

                <td>{{ dictionaryInputTable('properties', propertyCount, maxSubscriber == 0) }}</td>
            </tr>

            <tr>
                <td>Maximum Subscriber Count:</td>

                <td>
                    <input type="text" name="maxSubscriber" maxlength="20" pattern="[0-9]*"
                           title="must be a number" value="{{ maxSubscriber }}" required
                           {{ 'disabled' if maxSubscriber == 0 }} />
                </td>
            </tr>
        </table>

        <p>
            The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many
            emails to the queue can take few minutes.
        </p>

        <strong>{{ message }}</strong>

        <p>
            <input type="submit" value="Send Bulk Email" {{ 'disabled' if maxSubscriber == 0 }} />
        </p>
    </form>
{% endblock %}
