{% extends 'layout.html' %}

{% from 'tables.html' import checkboxTable %}

{% block body %}
    <h1>{{ emailid ~ '.' if emailid else 'New' }} Email from {{ fromaddress }}</h1>

    {% if not draft %}
        <p>
            Fields for emails which have sent to the subscribers, are disabled. Add ?force parameter to to URL
            to enable editing these fields, if you know what you are doing.
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('saveEmail') }}">
        <table>
            <tr>
                <td>Redirect URL:</td>

                <td>
                    <input type="text" name="redirecturl" size="100" maxlength="1000"
                           pattern="(http|https)://.*" title="must be a HTTP URL"
                           value="{{ redirecturl or '' }}" {{ 'disabled ' if not draft }} />
                </td>
            </tr>

            <tr>
                <td>Bulk:</td>

                <td>
                    <input type="checkbox" name="bulk" value="True" {{ 'checked' if bulk }}
                           {{ 'disabled ' if not draft }} />

                    <input type="hidden" name="bulk" value="False" /> <!-- The default value -->
                </td>
            </tr>
        </table>

        <strong>{{ saveMessage }}</strong>

        <p>
            <input type="submit" value="Save" {{ 'disabled ' if not draft }} />
        </p>
    </form>

    {% if emailid %}
        <table>
            <tr>
                <td>Example Properies:</td>

                <td>{{ exampleproperties }}</td>
            </tr>
        </table>

        <p>
            Properties can be used as {property} in addition to {unsubscribeurl}, {redirecturl}, {viewurl},
            {trackerimageurl} inside the subject, plain text body or HTML body. Anything that is not contained
            in braces is considered literal text, which is copied unchanged to the output. If you need to include
            a brace character in the literal text, it can be escaped by doubling: {{ '{{ and }}' }}.
        </p>

        <form method="POST" action="{{ url_for('removeEmail') }}">
            <p>
                <input type="submit" value="Semove"
                       {{ 'disabled' if not draft }} />
            </p>
        </form>

        {% for emailVariation in variations %}
            <h3>{{ emailVariation['variationid'] }}. Variation</h3>

            <form method="POST" action="{{ url_for('saveEmailVariation', **emailVariation) }}">
                <table>
                    <tr>
                        <td>Subject:</td>

                        <td>
                            <input type="text" name="subject" size="100" maxlength="1000"
                                   required value="{{ emailVariation['subject'] }}" 
                                   {{ 'disabled' if not emailVariation['draft'] }} />
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>Plain Text Body:</td>

                        <td>
                            <textarea name="plainbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }}
                                      >{{ emailVariation['plainbody'] or '' }}</textarea>
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>HTML Body:</td>

                        <td>
                            <textarea name="htmlbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }}
                                      >{{ emailVariation['htmlbody'] or '' }}</textarea>
                        </td>

                        <td>
                            {% if emailVariation['htmlbody'] %}
                                <a href="{{ url_for('preview', **emailVariation) }}">preview</a>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                {% if emailVariation['rank'] == variationRank %}
                    <strong>{{ saveEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Save" {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            <form method="POST" action="{{ url_for('removeEmailVariation', **emailVariation) }}">

                {% if emailVariation['variationid'] == variationid %}
                    <strong>{{ removeEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Remove" {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            {% if emailVariation['htmlbody'] %}
                <form method="POST" action="http://validator.w3.org/check">
                    <p>
                        <input type="hidden" name="fragment" value="{{ emailVariation['htmlbody'] }}"/>

                        <input type="submit" value="Validate HTML"/>
                    </p>
                </form>
            {% endif %}

            <form method="POST" action="{{ url_for('sendTestEmail', **emailVariation) }}">
                <table>
                    <tr>
                        <td>To Address:</td>

                        <td>
                            <input type="text" name="toaddress" size="100" maxlength="200"
                                   required pattern="[a-z0-9._\-+!']+@[a-z0-9.\-]+.[a-z0-9]+"
                                   title="must be a valid email address" />
                        </td>
                    </tr>
                </table>

                {% if emailVariation['variationid'] == variationid %}
                    <strong>{{ sendTestEmailMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Send Test Email" />
                </p>
            </form>
        {% endfor %}

        <h3>New Variation</h3>

        <form method="POST" action="{{ url_for('saveEmailVariation') }}">
            <table>
                <tr>
                    <td>Subject:</td>

                    <td>
                        <input type="text" name="subject" size="100" maxlength="1000" required />
                    </td>
                </tr>

                <tr>
                    <td>Plain Text Body:</td>

                    <td>
                        <textarea name="plainbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>HTML Body:</td>

                    <td>
                        <textarea name="htmlbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" value="Save" />
            </p>
        </form>

        {% if bulk %}
            <h3>Send Bulk Email</h3>

            <form method="POST" action="{{ url_for('sendBulkEmail') }}">
                {{ checkboxTable(subscriberlocalestats, 'locale') }}

                <p>
                    Counts does not include unsubscribed or response report sent subscribers but emails may
                    have been sent to them, before.
                </p>

                {{ checkboxTable(variationstats, 'variationid') }}

                <table>
                    <tr>
                        <td>Maximum Subscriber Count:</td>

                        <td>
                            <input type="text" name="subscribercount" maxlength="20" required
                                   pattern="[0-9]*" title="must be a number"
                                   value="{{ subscribercount }}" {{ 'disabled ' if subscribercount == 0 }} />
                        </td>
                    </tr>
                </table>

                <p>
                    The current subscribers will be added to the queue. Emails will be send asynchronously.
                    Adding many emails to the queue can take few minutes.
                </p>

                <strong>{{ sendBulkEmailMessage }}</strong>

                <p>
                    <input type="submit" value="Send Bulk Email" {{ 'disabled ' if subscribercount == 0 }}/>
                </p>
            </form>
        {% endif %}
    {% endif %}

    <p>
        <a href="{{ url_for('newEmail') }}">Add New Email</a>
    </p>
{% endblock %}
