{% extends 'layout.html' %}

{% from 'macros.html' import link, table %}

{% block body %}
    {% if emailid %}
        <h1>{{ emailid }}. Email from {{ fromaddress }}</h1>
    {% else %}
        <h1>Emails from {{ fromaddress }}</h1>
    {% endif %}

    <h2>Email Sent Dates</h2>

    {{ table(emailSentDates) }}

    <h2>Email Variations</h2>

    {{ table(emailVariations) }}

    {% if emailid %}
        <p>
            {{ link('emailStatistics', {'fromaddress': fromaddress}) }}
        </p>

        <p>
            {{ link('editEmail', {'fromaddress': fromaddress, 'emailid': emailid}) }}
        </p>
    {% endif %}
{% endblock %}
