{% extends 'layout.html' %}

{% from 'macros.html' import link, checkboxTable %}

{% block body %}
    <h1>{{ emailid ~ '.' if emailid else 'New' }} Email from {{ fromaddress }}</h1>

    {% if not draft %}
        <p>
            Fields for emails which have sent to the subscribers, are disabled. Add ?force=True parameter to to URL
            to enable editing these fields, if you know what you are doing.
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('saveEmail', fromaddress=fromaddress, emailid=emailid)
                                   if emailid else url_for('addEmail', fromaddress=fromaddress) }}">
        <table>
            <tr>
                <td>Redirect URL:</td>

                <td>
                    <input type="text" name="redirecturl" size="100" maxlength="1000" value="{{ redirecturl or '' }}"
                           {{ 'disabled ' if not draft }} />
                </td>
            </tr>

            <tr>
                <td>Bulk:</td>

                <td>
                    <input type="checkbox" name="bulk" value="True" {{ 'checked' if bulk }}
                           {{ 'disabled ' if not draft }} />

                    <input type="hidden" name="bulk" value="False" /> <!-- The default value -->
                </td>
            </tr>
        </table>

        <strong>{{ saveMessage }}</strong>

        <p>
            <input type="submit" value="saveEmail" {{ 'disabled ' if not draft }} />
        </p>
    </form>

    {% if emailid %}
        <table>
            <tr>
                <td>Example Properies:</td>

                <td>{{ exampleproperties }}</td>
            </tr>
        </table>

        <p>
            Properties can be used as {property} in addition to {unsubscribeurl}, {redirecturl}, {viewurl},
            {trackerimageurl} inside the subject, plain text body or HTML body. Anything that is not contained
            in braces is considered literal text, which is copied unchanged to the output. If you need to include
            a brace character in the literal text, it can be escaped by doubling: {{ '{{ and }}' }}.
        </p>

        <form method="POST" action="{{ url_for('removeEmail', fromaddress=fromaddress, emailid=emailid) }}">
            <p>
                <input type="submit" value="removeEmail"
                       {{ 'disabled' if not draft }} />
            </p>
        </form>

        {% for emailVariation in variations %}
            <h3>{{ emailVariation['variationid'] }}. Variation</h3>

            <form method="POST" action="{{ url_for('saveEmailVariation', fromaddress=fromaddress, emailid=emailid, variationid=emailVariation['variationid']) }}">
                <table>
                    <tr>
                        <td>Subject:</td>

                        <td>
                            <input type="text" name="subject" size="100" maxlength="1000"
                                   value="{{ emailVariation['subject'] }}" required
                                   {{ 'disabled' if not emailVariation['draft'] }} />
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>Plain Text Body:</td>

                        <td>
                            <textarea name="plainbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }} >{{ emailVariation['plainbody'] or '' }}</textarea>
                        </td>

                        <td></td>
                    </tr>

                    <tr>
                        <td>HTML Body:</td>

                        <td>
                            <textarea name="htmlbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }} >{{ emailVariation['htmlbody'] or '' }}</textarea>
                        </td>

                        <td>{{ link('preview', {'fromaddress': fromaddress, 'emailid': emailid, 'variationid': emailVariation['variationid']}) if emailVariation['htmlbody'] }}</td>
                    </tr>
                </table>

                {% if emailVariation['rank'] == variationRank %}
                    <strong>{{ saveEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="saveEmailVariation"
                           {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            <form method="POST" action="{{ url_for('removeEmailVariation', fromaddress=fromaddress, emailid=emailid, variationid=emailVariation['variationid']) }}">

                {% if emailVariation['variationid'] == variationid %}
                    <strong>{{ removeEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="removeEmailVariation"
                           {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            {% if emailVariation['htmlbody'] %}
                <form method="POST" action="http://validator.w3.org/check">
                    <p>
                        <input type="hidden" name="fragment" value="{{ emailVariation['htmlbody'] }}"/>

                        <input type="submit" value="validateHTML"/>
                    </p>
                </form>
            {% endif %}

            <form method="POST" action="{{ url_for('sendTestEmail', fromaddress=fromaddress, emailid=emailid, variationid=emailVariation['variationid']) }}">
                <table>
                    <tr>
                        <td>Email Address:</td>

                        <td>
                            <input type="text" name="emailaddress" size="100" maxlength="200" required />
                        </td>
                    </tr>
                </table>

                {% if emailVariation['variationid'] == variationid %}
                    <strong>{{ sendTestEmailMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="sendTestEmail" />
                </p>
            </form>
        {% endfor %}

        <h3>New Variation</h3>

        <form method="POST" action="{{ url_for('addEmailVariation', fromaddress=fromaddress, emailid=emailid) }}">
            <table>
                <tr>
                    <td>Subject:</td>

                    <td>
                        <input type="text" name="subject" size="100" maxlength="1000" required />
                    </td>
                </tr>

                <tr>
                    <td>Plain Text Body:</td>

                    <td>
                        <textarea name="plainbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>HTML Body:</td>

                    <td>
                        <textarea name="htmlbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" value="addEmailVariation" />
            </p>
        </form>

        {% if bulk %}
            <h3>Send Bulk Email</h3>

            <form method="POST" action="{{ url_for('sendBulkEmail', fromaddress=fromaddress, emailid=emailid) }}">
                {{ checkboxTable(subscriberlocalestats, 'locale') }}

                <p>
                    Counts does not include unsubscribed or response report sent subscribers but emails may have been sent
                    to them, before.
                </p>

                {{ checkboxTable(variationstats, 'variationid') }}

                <table>
                    <tr>
                        <td>Maximum Subscriber Count:</td>

                        <td>
                            <input type="text" name="subscribercount" maxlength="20" value="{{ subscribercount }}" required {{ 'disabled ' if subscribercount == 0 }}/>
                        </td>
                    </tr>
                </table>

                <p>
                    The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many emails
                    to the queue can take few minutes.
                </p>

                <strong>{{ sendBulkEmailMessage }}</strong>

                <p>
                    <input type="submit" value="sendBulkEmail" {{ 'disabled ' if subscribercount == 0 }}/>
                </p>
            </form>
        {% endif %}
    {% endif %}

    <p>
        {{ link('index') }}
    </p>

    <p>
        {{ link('newEmail', {'fromaddress': fromaddress}) }}
    </p>
{% endblock %}
