{% extends 'layout.html' %}

{% from 'macros.html' import table %}

{% block body %}
    <h2>Projects</h2>

    <strong>{{ projectMessage }}</strong>

    {{ table(projects, links={'name': 'project'}) if projects }}

    <p>
        <a href="{{ url_for('project') }}" >New Project</a>
    </p>

    <h2>Emails</h2>

    <strong>{{ emailMessage }}</strong>

    {{ table(emails, links={'id': 'email', 'sent': 'emailStatistics'}) if emails }}

    <p>
        <a href="{{ url_for('email') }}" >New Email</a>
    </p>
{% endblock %}
