{% extends 'layout.html' %}

{% from 'tables.html' import linkTable %}

{% block body %}
    <p>
        <a href="{{ url_for('documentation') }}">Documentation</a>
    </p>

    <h2>Domains</h2>

    {{ linkTable(domains, {'domainStatistics': 'statistics'}) }}

    <p>
        <a href="{{ url_for('domainStatistics') }}">Statistics of All Domains</a>
    </p>

    <h2>Senders</h2>

    <strong>{{ senderMessage }}</strong>

    {{ linkTable(senders, {'editSender': 'edit', 'newSubscriber': 'newSubscriber',
                           'newEmail': 'newEmail', 'emailStatistics': 'statistics'}) }}

    <p>
        <a href="{{ url_for('newSender') }}">Add New Sender</a>
    </p>

    <p>
        <a href="{{ url_for('emailStatistics') }}">Statistics of All Emails</a>
    </p>

    <h2>Bulk Emails</h2>

    <strong>{{ emailMessage }}</strong>

    {{ linkTable(bulkEmails, {'editEmail': 'edit', 'emailStatistics': 'statistics', 'prepareBulkEmail': 'send'},
                 ('emailid', 'bulk')) }}
{% endblock %}
