{% extends "layout.html" %}

{% macro link(methodName, kwargs={}) %}
    {# This ugly hack change the default behavior of url_for() not to add unknown parameters to the URL. #}
    <a href="{{ url_for(methodName, **kwargs).split('?')[0] }}" >{{ methodName }}</a>
{% endmacro %}

{% macro table(tableData) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for cell in row.values() %}
                    <td>{{ cell if cell != None }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro linkTable(tableData, methodNames) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}

                <th></th>
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for cell in row.values() %}
                    <td>{{ cell if cell != None }}</td>
                {% endfor %}

                    <td>
                {% for cell in methodNames %}
                        {{ link(cell, row) }}
                {% endfor %}
                    </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro checkboxTable(tableData, checkboxColumn) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                <th></th>

                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ checkboxColumn }}[]" value="{{ row[checkboxColumn] }}" />
                 </td>

                {% for header, cell in row.items() %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro dictionaryTable(name, rowCount) %}
    <table border="1" >
        {% for row in range(rowCount) %}
            <tr>
                <td>
                    <input type="text" name="{{ name }}[{{ row }}][key]" />
                 </td>

                <td>
                    <input type="text" name="{{ name }}[{{ row }}][value]" />
                 </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
