{% extends 'layout.html' %}

{% from 'tables.html' import table %}

{% block body %}
    <h1>Report {{ report['reportid'] }} from {{ report['reporteraddress'] }}</h1>

    <table>
        <tr>
            <td>Domain:</td>

            <td>
                <input type="text" name="subject" size="100" maxlength="200" value="{{ report['domain'] }}"
                       disabled />
            </td>
        </tr>

        <tr>
            <td>Start:</td>

            <td>
                <input type="text" name="period" size="100" maxlength="25" value="{{ report['period'].lower }}"
                       disabled />
            </td>
        </tr>

        <tr>
            <td>End:</td>

            <td>
                <input type="text" name="period" size="100" maxlength="25" value="{{ report['period'].upper }}"
                       disabled />
            </td>
        </tr>

        <tr>
            <td>Body:</td>

            <td>
                <textarea name="body" rows="10" cols="100" disabled >{{ report['body'] }}</textarea>
            </td>
        </tr>
    </table>

    <h2>DMARC Report Rows</h2>

    {{ table(dMARCReportRows, ('reporteraddress', 'reportid')) }}
{% endblock %}
