{% extends 'layout.html' %}

{% from 'tables.html' import dictionaryInputTable %}

{% block body %}
    <h1>New Subscriber from {{ fromaddress }}</h1>

    <form method="POST" action="{{ url_for('saveSubscriber') }}">
        <table>
            <tr>
                <td>To Address:</td>

                <td>
                    <input type="text" name="toaddress" size="100" maxlength="1000" required />
                </td>
            </tr>

            <tr>
                <td>Locale:</td>

                <td>
                    <input type="text" name="locale" size="5" maxlength="5"/>
                </td>
            </tr>

            <tr>
                <td>Properties:</td>

                <td>{{ dictionaryInputTable('properties', propertyCount) }}</td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Save"/>
        </p>
    </form>
{% endblock %}
