{% macro cell(value) %}
    {% if value is string %}
        {{ value }}
    {% elif value is iterable %}
        {{ value|join(', ') }}
    {% elif value is not none %}
        {{ value|string }}
    {% endif %}
{% endmacro %}

{% macro table(tableData, hiddenColumns=()) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for key in tableData[0].keys() %}
                    {% if key not in hiddenColumns %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for key, value in row.items() %}
                    {% if key not in hiddenColumns %}
                        <td>{{ cell(value) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro linkTable(tableData, endpoints, hiddenColumns=()) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for key in tableData[0].keys() %}
                    {% if key not in hiddenColumns %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}

                <th></th>
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for key, value in row.items() %}
                    {% if key not in hiddenColumns %}
                        <td>{{ cell(value) }}</td>
                    {% endif %}
                {% endfor %}

                <td>
                    {% for endpoint, value in endpoints.items() %}
                        <a href="{{ url_for(endpoint, **row) }}" >{{ value }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro checkboxTable(tableData, checkboxColumn, hiddenColumns=(), checkedRows=(), disabled=False) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                <th></th>

                {% for key in tableData[0].keys() %}
                    {% if key not in hiddenColumns %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ checkboxColumn }}[]" value="{{ row[checkboxColumn] }}"
                            {{ 'checked' if row[checkboxColumn] in checkedRows }} {{ 'disabled' if disabled }} />
                 </td>

                {% for key, value in row.items() %}
                    {% if key not in hiddenColumns %}
                        <td>{{ cell(value) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro dictionaryInputTable(name, rowCount, disabled=False) %}
    <table border="1" >
        {% for row in range(rowCount) %}
            <tr>
                <td>
                    <input type="text" name="{{ name }}[{{ row }}][key]" {{ 'disabled' if disabled }} />
                 </td>

                <td>
                    <input type="text" name="{{ name }}[{{ row }}][value]" {{ 'disabled' if disabled }} />
                 </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
