{% macro cell(value) %}
    {% if value is string %}
        {{ value }}
    {% elif value is iterable %}
        {{ value|join(', ') }}
    {% elif value is not none %}
        {{ value|string }}
    {% endif %}
{% endmacro %}

{% macro table(tableData) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ cell(value) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro linkTable(tableData, endpoints) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}

                <th></th>
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ cell(value) }}</td>
                {% endfor %}

                <td>
                    {% for endpoint, value in endpoints.items() %}
                        <a href="{{ url_for(endpoint, **row) }}" >{{ value }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro checkboxTable(tableData, checkboxColumn) %}
    <table border="1" >
        {% if tableData %}
            <tr>
                <th></th>

                {% for header in tableData[0].keys() %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        {% endif %}

        {% for row in tableData %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ checkboxColumn }}[]" value="{{ row[checkboxColumn] }}" />
                 </td>

                {% for header, value in row.items() %}
                    <td>{{ cell(value) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro dictionaryInputTable(name, rowCount) %}
    <table border="1" >
        {% for row in range(rowCount) %}
            <tr>
                <td>
                    <input type="text" name="{{ name }}[{{ row }}][key]" />
                 </td>

                <td>
                    <input type="text" name="{{ name }}[{{ row }}][value]" />
                 </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
