<!doctype html>

<form method="POST" action="">
    <table>
        <tr>
            <td>Outgoing Server:</td>
            <td>
                <select name="outgoingservername" required {{ 'disabled ' if not email['draft'] }}>
{% for outgoingServerName in email['outgoingservernames'] %}
                    <option value="{{ outgoingServerName }}" {{ 'selected' if outgoingServerName == email['outgoingservername'] }}>{{ outgoingServerName }}</option>
{% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>From Name:</td>
            <td>
                <input type="text" name="fromname" size="100" maxlength="200" value="{{ email['fromname'] }}" required {{ 'disabled ' if not email['draft'] }}/>
            </td>
        </tr>
        <tr>
            <td>From Address:</td>
            <td>
                <input type="text" name="fromaddress" size="100" maxlength="200" value="{{ email['fromaddress'] }}" required {{ 'disabled ' if not email['draft'] }}/>
            </td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>
                <input type="text" name="subject" size="100" maxlength="1000" value="{{ email['subject'] }}" required {{ 'disabled ' if not email['draft'] }}/>
            </td>
        </tr>
        <tr>
            <td>Plain Text Body:</td>
            <td>
                <textarea name="plainbody" rows="10" cols="100" {{ 'disabled ' if not email['draft'] }}>{{ email['plainbody'] }}</textarea>
            <td>
        </tr>
        <tr>
            <td>HTML Body:</td>
            <td>
                <textarea name="htmlbody" rows="10" cols="100" {{ 'disabled ' if not email['draft'] }}>{{ email['htmlbody'] }}</textarea>
            </td>
        </tr>
        <tr>
            <td>Return URL Root:</td>
            <td>
                <input type="text" name="returnurlroot" size="100" maxlength="1000" value="{{ email['returnurlroot'] }}" {{ 'disabled ' if not email['draft'] }}/>
            </td>
        </tr>
        <tr>
            <td>Redirect URL:</td>
            <td>
                <input type="text" name="redirecturl" size="100" maxlength="1000" value="{{ email['redirecturl'] }}" {{ 'disabled ' if not email['draft'] }}/>
            </td>
        </tr>
        <tr>
            <td>Example Properies:</td>
            <td>{{ email['exampleproperties'] }}</td>
        </tr>
    </table>

    <p>
        Properties can be used as {property} in addition to {unsubscribeurl}, {redirecturl}, {viewurl},
        {trackerimageurl} inside the subject, plain text body or HTML body. Anything that is not contained
        in braces is considered literal text, which is copied unchanged to the output. If you need to include
        a brace character in the literal text, it can be escaped by doubling: {{ '{{ and }}' }}.
    </p>

{% if action == 'save' %}
    <strong>{{ message }}</strong>
{% endif %}

    <p>
        <input type="hidden" name="emailid" value="{{ email['id'] }}" />
        <input type="hidden" name="draft" value="{{ email['draft'] }}" />
        <input type="submit" name"submit" value="Save" {{ 'disabled ' if not email['draft'] }}/>
    </p>
</form>

{% if email.id %}
<form method="POST" action="sendTest">
    <table>
        <tr>
            <td>Email Address:</td>
            <td>
                <input type="text" name="subscriberemailaddress" size="100" maxlength="200" />
            </td>
        </tr>
    </table>

{% if action == 'sendTest' %}
    <strong>{{ message }}</strong>
{% endif %}

    <p>
        <input type="hidden" name="emailid" value="{{ email['id'] }}" />
        <input type="submit" name"submit" value="Send Test Email" />
    </p>
</form>

{% if email['previewurl'] %}
<p>
    <a href="{{ email['previewurl'] }}">Preview Email</a>
</p>
{% endif %}

<form method="POST" action="send">
    <table border="1">
        <tr>
            <th></th>
            <th>Locale</th>
            <th>Send</th>
            <th>Total</th>
        </tr>
    {% for stat in email['subscriberlocalestats'] %}
        <tr>
            <td>
                <input type="checkbox" name="locales[]" value="{{ stat['locale'] }}" {{ 'disabled ' if stat['sendcount'] == stat['count'] }}/>
             </td>
            <td>{{ stat['locale'] }}</td>
            <td>{{ stat['sendcount'] }}</td>
            <td>{{ stat['count'] }}</td>
        </tr>
    {% endfor %}
    </table>

    <table>
        <tr>
            <td>Maximum Subscriber Count:</td>
            <td>
                <input type="text" name="subscribercount" maxlength="20" value="{{ email['subscribercount'] }}" required {{ 'disabled ' if email['subscribercount'] == 0 }}/>
            </td>
        </tr>
    </table>

    <p>
        The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many emails
        to the queue can take few minutes. Counts does not include unsubscribed or complained subscribers but
        emails may have been sent to them, before.
    </p>

    {% if action == 'send' %}
    <strong>{{ message }}</strong>
    {% endif %}

    <p>
        <input type="hidden" name="emailid" value="{{ email['id'] }}" />
        <input type="submit" name"submit" value="Send" {{ 'disabled ' if email['subscribercount'] == 0 }}/>
    </p>
</form>
{% endif %}

<p>
    <a href="{{ url_for('listEmails') }}" >List Emails</a>
</p>

<p>
    <a href="{{ url_for('newEmail') }}" >New Email</a>
</p>

