{% extends 'layout.html' %}

{% from 'macros.html' import checkboxTable %}

{% block body %}
    <h1>{{ email.id ~ '.' if email.id else 'New' }} Email</h1>

    {% if not email['draft'] %}
        <p>
            Fields for emails which have sent to the subscribers, are disabled. Add ?force=True parameter to to URL
            to enable editing these fields, if you know what you are doing.
        </p>
    {% endif %}

    <form method="POST" action="{{ url_for('saveEmail', id=email.get('id')) }}">
        <table>
            <tr>
                <td>Project:</td>
                <td>
                    <select name="projectname" required {{ 'disabled ' if not email['draft'] }} >
                        <option value="">-- select --</option>

                        {% for project in email['projects'] %}
                            <option {{ 'selected' if project['name'] == email['projectname'] }}
                                    >{{ project['name'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Outgoing Server:</td>
                <td>
                    <select name="outgoingservername" required {{ 'disabled ' if not email['draft'] }} >
                        <option value="">-- select --</option>

                        {% for outgoingServer in email['outgoingservers'] %}
                            <option {{ 'selected' if outgoingServer['name'] == email['outgoingservername'] }}
                                    >{{ outgoingServer['name'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Incoming Server:</td>
                <td>
                    <select name="incomingservername" {{ 'disabled ' if not email['draft'] }} >
                        <option value="">-- select --</option>

                        {% for incomingServer in email['incomingservers'] %}
                            <option {{ 'selected' if incomingServer['name'] == email['incomingservername'] }}
                                    >{{ incomingServer['name'] }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Redirect URL:</td>
                <td>
                    <input type="text" name="redirecturl" size="100" maxlength="1000" value="{{ email['redirecturl'] or '' }}"
                           {{ 'disabled ' if not email['draft'] }} />
                </td>
            </tr>

            <tr>
                <td>Example Properies:</td>
                <td>{{ email['exampleproperties'] }}</td>
            </tr>
        </table>

        <p>
            Properties can be used as {property} in addition to {unsubscribeurl}, {redirecturl}, {viewurl},
            {trackerimageurl} inside the subject, plain text body or HTML body. Anything that is not contained
            in braces is considered literal text, which is copied unchanged to the output. If you need to include
            a brace character in the literal text, it can be escaped by doubling: {{ '{{ and }}' }}.
        </p>

        <strong>{{ saveMessage }}</strong>

        <p>
            <input type="submit" value="Save Email" {{ 'disabled ' if not email['draft'] }} />
        </p>
    </form>

    {% if email.id %}
        <form method="POST" action="{{ url_for('removeEmail', id=email['id']) }}">
            <p>
                <input type="submit" value="Remove Email"
                       {{ 'disabled' if not email['draft'] }} />
            </p>
        </form>

        {% for emailVariation in email['variations'] %}
            <h3>{{ emailVariation['rank'] }}. Variation</h3>

            <form method="POST" action="{{ url_for('saveEmailVariation', id=email['id'], rank=emailVariation['rank']) }}">
                <table>
                    <tr>
                        <td>Subject:</td>
                        <td>
                            <input type="text" name="subject" size="100" maxlength="1000"
                                   value="{{ emailVariation['subject'] }}" required
                                   {{ 'disabled' if not emailVariation['draft'] }} />
                        </td>
                    </tr>

                    <tr>
                        <td>Plain Text Body:</td>
                        <td>
                            <textarea name="plainbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }} >{{ emailVariation['plainbody'] or '' }}</textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>HTML Body:</td>
                        <td>
                            <textarea name="htmlbody" rows="10" cols="100"
                                      {{ 'disabled' if not emailVariation['draft'] }} >{{ emailVariation['htmlbody'] or '' }}</textarea>
                        </td>
                    </tr>
                </table>

                {% if emailVariation['rank'] == variationRank %}
                    <strong>{{ saveEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Save Email Variation"
                           {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            <form method="POST" action="{{ url_for('removeEmailVariation', id=email['id'], rank=emailVariation['rank']) }}">

                {% if emailVariation['rank'] == variationRank %}
                    <strong>{{ removeEmailVariationMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Remove Email Variation"
                           {{ 'disabled' if not emailVariation['draft'] }} />
                </p>
            </form>

            {% set previewURL = url_for('preview', emailid=email['id'], rank=emailVariation['rank']) %}

            {% if emailVariation['htmlbody'] %}
                <p>
                    <a href="{{ previewURL }}">
                        <button>Preview HTML</button>
                    </a>
                </p>

                <form method="POST" action="http://validator.w3.org/check">
                    <p>
                        <input type="hidden" name="fragment" value="{{ emailVariation['htmlbody'] }}"/>

                        <input type="submit" value="Validate HTML"/>
                    </p>
                </form>
            {% endif %}

            <form method="POST" action="{{ url_for('sendTestEmail', id=email['id'], rank=emailVariation['rank']) }}">
                <table>
                    <tr>
                        <td>Email Address:</td>
                        <td>
                            <input type="text" name="emailaddress" size="100" maxlength="200" required />
                        </td>
                    </tr>
                </table>

                {% if emailVariation['rank'] == variationRank %}
                    <strong>{{ sendTestEmailMessage }}</strong>
                {% endif %}

                <p>
                    <input type="submit" value="Send Test Email" />
                </p>
            </form>
        {% endfor %}

        <h3>New Variation</h3>

        <form method="POST" action="{{ url_for('saveEmailVariation', id=email['id']) }}">
            <table>
                <tr>
                    <td>Subject:</td>
                    <td>
                        <input type="text" name="subject" size="100" maxlength="1000" required />
                    </td>
                </tr>

                <tr>
                    <td>Plain Text Body:</td>
                    <td>
                        <textarea name="plainbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>HTML Body:</td>
                    <td>
                        <textarea name="htmlbody" rows="10" cols="100"></textarea>
                    </td>
                </tr>
            </table>

            <p>
                <input type="submit" value="Add Email Variation" />
            </p>
        </form>

        <h3>Send Bulk Email</h3>

        <form method="POST" action="{{ url_for('sendBulkEmail', id=email['id']) }}">
            {{ checkboxTable(email['subscriberlocalestats'], 'locale') if email['subscriberlocalestats'] }}

            <p>
                Counts does not include unsubscribed or response report sent subscribers but emails may have been sent
                to them, before.
            </p>

            {{ checkboxTable(email['variationstats'], 'variation') if email['variationstats'] }}

            <table>
                <tr>
                    <td>Maximum Subscriber Count:</td>
                    <td>
                        <input type="text" name="subscribercount" maxlength="20" value="{{ email['subscribercount'] }}" required {{ 'disabled ' if email['subscribercount'] == 0 }}/>
                    </td>
                </tr>
            </table>

            <p>
                The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many emails
                to the queue can take few minutes.
            </p>

            <strong>{{ sendBulkEmailMessage }}</strong>

            <p>
                <input type="submit" value="Send Bulk Email" {{ 'disabled ' if email['subscribercount'] == 0 }}/>
            </p>
        </form>
    {% endif %}

    <p>
        <a href="{{ url_for('index') }}" >Index</a>
    </p>

    <p>
        <a href="{{ url_for('email') }}" >New Email</a>
    </p>
{% endblock %}
