{% extends "layout.html" %}

{% macro table(tableData, linkTo=None, linkColumn=None) %}
    <table border="1" >
        <tr>
            {% for header in tableData[0].keys() %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in tableData %}
            <tr>
                {% for header, cell in row.items() %}
                    <td>
                        {% if cell %}
                            {% if header == linkColumn %}
                                <a href="{{ url_for(linkTo, **row) }}">{{ cell }}</a>
                            {% else %}
                                {{ cell }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% block body %}
    <h2>Emails</h2>

    <strong>{{ emailMessage }}</strong>

    {{ table(emails, 'email', 'id') if emails }}

    <p>
        <a href="{{ url_for('email') }}" >New Email</a>
    </p>

    <h2>Outgoing Servers</h2>

    {{ table(outgoingServers) if outgoingServers }}

    <h2>Incoming Servers</h2>

    {{ table(incomingServers) if incomingServers }}
{% endblock %}

