<!doctype html>

<table border="1" >
    <tr>
        <td>From</td>
        <td>Subject</td>
        <td>Created</td>
        <td>Sent</td>
        <td>Feedbacks</td>
    </tr>
{% for email in emails %}
    <tr>
        <td>{{ email.fromname }} &lt;{{ email.fromaddress }}&gt;</td>
        <td>
            <a href="{{ email.id }}" >{{ email.subject }}</a>
        </td>
        <td>{{ email.createdat }}</td>
        <td>{{ email.sentcount }} / {{ email.totalcount }}</td>
        <td>{{ email.feedbacktypecounts }}</td>
    </tr>
{% endfor %}
</table>

<p>
    <a href="{{ url_for('newEmail') }}" >New Email</a>
</p>

