<!doctype html>

{% macro table(tableData, linkColumn=None) %}
    <table border="1" >
        <tr>
            {% for header in tableData[0].keys() %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>

        {% for row in tableData %}
            <tr>
                {% for header, cell in row.items() %}
                    <td>
                        {% if cell %}
                            {% if header == linkColumn %}
                                <a href="{{ cell }}">{{ cell }}</a>
                            {% else %}
                                {{ cell }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

<h2>Emails</h2>

{{ table(emails, 'id') if emails }}

<p>
    <a href="{{ url_for('newEmail') }}" >New Email</a>
</p>

<h2>Outgoing Servers</h2>

{{ table(outgoingServers) if outgoingServers }}

<h2>Incoming Servers</h2>

{{ table(incomingServers) if incomingServers }}
