<!doctype html>

<form method="POST" action="">
{% if message %}
    <p>{{ message }}</p>
{% endif %}
    <table>
        <tr>
            <td>Subscriber Count:</td>
            <td>{{ subscribercount }}</td>
        </tr>
        <tr>
            <td>From Name:</td>
            <td>
                <input type="text" name="fromname" maxlength="200" required />
            </td>
        </tr>
        <tr>
            <td>From Address:</td>
            <td>
                <input type="text" name="fromaddress" maxlength="200" required />
            </td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>
                <input type="text" name="subject" maxlength="1000" required />
            </td>
        </tr>
        <tr>
            <td>Plain Text Body:</td>
            <td>
                <textarea name="plainbody" required ></textarea>
            <td>
        </tr>
        <tr>
            <td>HTML Body:</td>
            <td>
                <textarea name="htmlbody" required ></textarea>
            </td>
        </tr>
        <tr>
            <td>Return URL Root:</td>
            <td>
                <input type="text" name="returnurlroot" maxlength="1000" value="{{ defaults.returnurlroot }}" />
            </td>
        </tr>
        <tr>
            <td>Redirect URL:</td>
            <td>
                <input type="text" name="redirecturl" maxlength="1000" />
            </td>
        </tr>
    </table>

    <p>Properties can be used as {property} in addition to {fullname}, {unsubscribeurl}, {redirecturl}, {trackerimageurl} inside the subject, plain text body or HTML body.</p>
    <p>Example Properies: {{ exampleproperties }}</p>

    <p>Review all fields carrefully before sending. Write the Return URL Root and the Redirect URL to your browser. Check that they return 200.</p>

    <p>The current subscribers will be added to the queue. Emails will be send asynchronously. Adding many emails to the queue can take minutes.<p>

    </p>
        <input type="hidden" name="maxsubscriberid" value="{{ maxsubscriberid }}" />
    </p>
    <p>
        <input type="submit" name"submit" value="Send" />
    </p>
</form>

<p>
    <a href="{{ url_for('listEmails') }}" >List Emails</a>
</p>

